<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div style="    width: 100%;text-align: center;">
    <h1  style="width: 100%;" href="#">Product Catalog</h1>

    <div>
      <ul class="navbar-nav" style="justify-content: center;">
        <li class="nav-item">
          <a class="nav-link" routerLink="orders" routerLinkActive="active">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reportbyproductandmanufacturer" routerLinkActive="active">Report by product and manufacturer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reportbydate" routerLinkActive="active">Report by date</a>
        </li>
      </ul>
    </div>
  </div>
</nav>